{% extends 'base.html.twig' %}

{% form_theme formGroup 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h2>Créer un groupe</h2>
    {{ form(formGroup) }}

    <a href="{{ path('group_list') }}" class="btn btn-secondary">Retour aux groupes</a>
{% endblock %}