{% extends 'base.html.twig' %}

{% form_theme formGroup 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="boxShadow">
        <h2 class="center">Créer un groupe</h2>
        {{ form(formGroup) }}
        <div class="center">
            <a href="{{ path('group_list') }}" class="btn btn-secondary">Retour aux groupes</a>
        </div>

    </div>
{% endblock %}