{% extends 'base.html.twig' %}

{%  form_theme formEdit 'bootstrap_5_layout.html.twig' %}

{% block body %}

        <div class="boxShadow">
                <h1 class="center">Modifier un groupe</h1>
                {{ form(formEdit) }}
        </div>
{% endblock %}