{% extends 'base.html.twig' %}

{% block body %}
    <div class="card p-3 center" id="fondCard">
        <h1>Oops !</h1>
        <p>Erreur 503.</p>
        <p>Le serveur est temporairement indisponible.<br>
            Veuillez réessayer ultérieurement.</p>
        <a href="{{ path('home_home') }}" class="btn btn-primary btn-sm">Retour à l'accueil</a>
    </div>
{% endblock %}